{# src/Reviews/ReviewsBundle/Resources/views/Page/top_ten.html.twig #}
{% extends 'ReviewsReviewsBundle::layout.html.twig' %}

{% block title %}Top 10 Employers{% endblock%}

{% block body %}
    <header>
        <h1>Top 10 </h1>
    </header>
    <article>
        <p>This list shows the top ten employers of the month.</p>
    </article>
{% endblock %}