{# src/Reviews/ReviewsBundle/Resources/views/widgets/direct_contact.html.twig #}
<link href="{{ asset('css/widgets/contact_us_widget.css') }}" type="text/css" rel="stylesheet" />
<div class="contact-us direct-contact">
	<ul>
		<li>
			<h4>Direct Contacts</h4>
		</li>
		<li>
			Mobile: 0405607273
		</li>
		<li>
			Email:  admin@patchmonkeys.com.au
		</li>
	</ul>
</div>