{# src/Reviews/ReviewsBundle/Resources/views/widgets/employer_search.html.twig #}
<link href="{{ asset('css/widgets/employer_search_widget.css') }}" type="text/css" rel="stylesheet" />
<section id="employer_search_widget" class="employer-search-widget">
	<form id="employer_search_form" class="employer-search-form" action="http://gurustop.net" method="post">
		<input type="search" id="employer_search_input" class="employer-search-inut" name="employer_name"/><br/>
		<input type="submit" id="employer_search_submit" class="employer-search-submit" value="Search Employer" />
	</form>
</section>