.employer-search-widget 
{
	margin-top: 100px;
	margin-bottom: 100px;
	align: "center";
	vertical-align: bottom;
}

.employer-search-form
{
	margin-top: 100px;
	margin-bottom: 100px;
	align: "center";
	vertical-align: bottom;
}

.employer-search-inut
{
	margin-top: 1%;
	margin-bottom: 1%;
}

.employer-search-submit
{
	margin-top: 1%;
	margin-bottom: 1%;
}